*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-size: 14px;
}
input{margin:0;padding:0;border:none; font-family:inherit;}
input,textarea{outline:none; /*轮廓线*/}